<div class="main_content">
  <div class="new_review">
    <h1>新規投稿</h1>
    <%= form_with model:@review,local:true do |f| %>
      <%= f.label:題名 %>
      <%= f.text_field:title,class:"form-control" %>
      <%= f.label:本文 %>
      <%= f.text_area:body,class:"form-control" %>
      <%= f.label:写真 %><br>
      <%= f.attachment_field :image %><br>
      <%= f.submit "投稿",class:"btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="review_index">
    <h1>投稿一覧</h1>
    <% @reviews.each do |review| %>
      <div class="review_content">
        <div>
          <%= attachment_image_tag review,:image,size:'100x150',fallback:'ダウンロード.png' %>
        </div>
        <div>
          <%= review.customer.email %> <%= review.created_at.strftime('%F') %><br>
          <%= review.title %><br>
          <%= review.body %>
        </div>
      </div>
    <% end %>
  </div>
</div>