<!DOCTYPE html>
<html>
  <head>
    <title>SakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <a class="navbar-brand" href="#" id="nav_icon"><%= image_tag "sake-reco.png",:size =>"100x80" %></a>
    </nav>
    <div class="nav-menu bg-light">
      <%= link_to "記録",reviews_path,class:"nav_content" %>
      <%= link_to "日本酒問題",question_path,class:"nav_content" %>
      <%= link_to "sake-recordについて",root_path,class:"nav_content" %>
      <%= link_to "ホーム",root_path,class:"nav_content" %>
    </div>
    <%= yield %>
  </body>
</html>
